* {
    margin: 0;
    padding: 0;
}
body{
    padding: 0px;
    margin: 10px;
    text-align: center;
}
div > p {
    background-color: blue;
    color: white;
}
.color{
    background-color: yellow;
    color: red;
}